:root {
    --color1: #293241;
    --color2: #2B3E50;
    --color3: #354A60;
    --color4: #ADD8E6;
}

.bg-navbar-color {
    background-color: var(--color1);
}

.leaflet-container {
    aspect-ratio: 5 / 3;
    width: 100%;
}

.main-page {
    height: 94vh;
    background-color: var(--color2);
}

.side-bar,.main-body, .auth-body {
    background-color: var(--color3);
}

.side-bar {
    margin-left: 10%;
    margin-right: 1%;
}

.side-bar-content, .device-details {
    background-color: var(--color4);
    color: #000000;
}

.device-details {
    flex-grow: 1;
}

.main-body {
    margin-right: 10%;
    margin-left: 1%;
}

.auth-body {
    margin-left: 25%;
    margin-right: 25%;
}